# Option 1: Web3Forms (Easiest - 1 minute setup)
# Sign up at https://web3forms.com with your email to get your access key
VITE_WEB3FORMS_ACCESS_KEY=84618096-0224-4de0-a0d1-8ef83b728c80

# Option 2: EmailJS Settings (https://www.emailjs.com)
VITE_EMAILJS_SERVICE_ID=service_gowtham
VITE_EMAILJS_TEMPLATE_ID=template_gowtham
VITE_EMAILJS_PUBLIC_KEY=public_key_gowtham
